[Unit]
Description=Prometheus server

[Service]
Restart=always
ExecStart=/usr/bin/podman run --rm -it -v /cdata/prometheus/data:/var/lib/prometheus -v /cdata/prometheus/config:/etc/prometheus -p 9091:9091 --name prometheus rlyeh/prometheus
ExecStop=podman stop -t 2 prometheus

[Install]
WantedBy=multi-user.target
