[Unit]
Description=Grafana server

[Service]
Restart=always
ExecStart=/usr/bin/podman run --rm -i -v /cdata/grafana/data:/var/lib/grafana -p 3000:3000 --name grafana rlyeh/grafana
ExecStop=podman stop -t 2 grafana

[Install]
WantedBy=multi-user.target
